# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Ignore everything
*

# starter
!.README.md
!.gitignore
!.package.json

# app
!app/
!app/setup.php
!app/enqueues.php
!app/images.php
!app/intervention.php
!app/utils.php
!app/polyfills.php

# app/Controllers/
!app/Controllers/
!app/Controllers/**/**

# resources
!resources/

# assets
!resources/assets/

# assets/styles
!resources/assets/styles/
!resources/assets/styles/**

# assets/scripts
!resources/assets/scripts/
!resources/assets/scripts/**

# views
!resources/views
!resources/views/**

# system files
**/.DS_Store
