/**
 * Elements
 *
 * @recommended
 * article, aside, details, figcaption, figure, footer, header, hgroup, main, mark, menu, nav, section, summary, time
 */
html {
  font-size: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

body {
  line-height: $leading;
  font-size: 16px;
  font-family: System, sans-serif;
  overflow-x: hidden; // req for container-esc

  /*
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}
