// IE11 object-fit polyfill
// https://github.com/bfred-it/object-fit-images/

/*
.img-cover {
  // stylelint-disable-next-line
  font-family: "object-fit: cover";
}

.img-contain {
  // stylelint-disable-next-line
  font-family: "object-fit: contain";
}

.img-mask {
  text-align: left;
}
*/
