$classes: (
  clear-0125: (height 0.125rem),
  clear-025: (height 0.25rem),
  clear-05: (height 0.5rem),
  clear-075: (height 0.75rem),
  clear-1: (height 1rem),
  clear-2: (height 2rem),
  clear-3: (height 3rem),
  clear-4: (height 4rem),
  clear-5: (height 5rem),
  clear-6: (height 6rem),
  clear-7: (height 7rem),
  clear-8: (height 8rem),
  clear-9: (height 9rem),
  clear-10: (height 10rem),
  clear-11: (height 11rem),
  clear-12: (height 12rem),
);

// @include make-classes-fluid($classes);
@each $class, $prop in $classes {
  .#{$class} {
    @include fluid(nth($prop, 1), nth($prop, 2));
  }
}
