.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: get-break(xl);
  max-width: 90%;
}

.container-esc {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/*
.container-esc-l {
  margin-left: calc(50% - 50vw);
}
*/

/*
.container-esc-r {
  margin-right: calc(50% - 50vw);
}
*/
