// make classes without mq prefixes
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: get-break(xl);
  max-width: 90%;
}

.container-esc {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

/*
$escs: (
  container-esc-l: (margin-left calc(50% - 50vw)),
  container-esc-r: (margin-right calc(50% - 50vw)),
);

$esc-both: (
  container-esc: (
    map-get($escs, container-esc-l),
    map-get($escs, container-esc-r),
  ),
);

// .container-esc (props from $escs)
// @include make-classes($esc-both);

// .container-esc-l, md:container-esc-l lg:container-esc-l etc
// @include make-classes-mq($escs);
*/
