$classes: (
  none: (display none),
  block: (display block),
  inline-block: (display inline-block),
  flex: (display flex),
  inline-flex: (display inline-flex),
);

@include make-classes-mq($classes);
