.rellax-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}

// image wrapped in rellax-mask
.rellax-mask img[data-rellax] {
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: calc((100% + 10vh) + 2px); // 100% + 10vh for speed +/-1, +2px rounding issues
}

/*
// data-src img blur in rellax-bg
.rellax-mask .img-blur[data-rellax] {
  min-width: calc(100% + 20px);
}
*/
